page-movement {background:#ffffff !important;
    ion-content .scroll-content{background:#ffffff !important;}
.blue_box{min-height: 200px;
    background: #67b2ed;
    color: #ffffff;
    font-size: 48px;
    padding-top: 110px;
    text-align: center;
    margin-top: 20%;
    width: 300px;
    height: 300px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: 20px;
    max-width: 100%;}

.green_box{min-height:100px;background:#7fc449;min-height: 200px;
    background: #7fc449;
    color: #ffffff;
    font-size: 48px;
    padding-top: 110px;
    text-align: center;
    margin-top: 20%;
    width: 300px;
    height: 300px;
    border-radius: 25px;
    margin-left: 20px;
    margin-right: auto;

    max-width: 100%;
    }
}
