<!--
  Generated template for the DeliveryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="inner_header">
    <a href="javascript:void(0);" (click)="calhome()" class="logo_section">
        <img class="logo_img" src="assets/imgs/logo.jpg">
    </a>
    <ion-navbar hideBackButton>
        <!--hideBackButton-->
        <ion-buttons left>
            <button (click)="gotoback();" ion-button navPop icon-only>
                <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-row>
            <ion-col col-sm-6>


            </ion-col>
            <ion-col col-sm-6>
                <div class="top_right_icons">
                    <ul>
                        <li class="notify_section">
                            <a>
                                <img src="assets/imgs/notification.png">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="https://s3.eu-west-2.amazonaws.com/cyberlive-s3-bucket/profilepic/{{profilepicture}}"
                                    style="border: 1px solid #fff;border-radius:100%;min-width:35px;min-height:35px;">

                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="doChat()">
                                <button ion-button icon-only menuToggle class="white_chat">
                                    <div class="no_of_msgs" *ngIf="messagecount > 0" id="user_msg_count">
                                        {{messagecount}}</div>
                                    <div class="no_of_msgs" *ngIf="messagecount <= 0" id="user_msg_count">
                                        {{messagecount}}</div>
                                    <ion-icon ios="ios-chatboxes" md="md-chatboxes"></ion-icon>
                                </button>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" (click)="logout()">
                                <img src="assets/imgs/logout.png">
                            </a>
                        </li>
                    </ul>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
        </ion-row>
        <!--<img ion-right src="" class="navbarLogo" />-->
        <!--<div text-right>
          <h2 >Welcome {{userDetails.email}}</h2>
          <button ion-button color="primary" (click)="logout()">Logout</button>
        </div>-->
    </ion-navbar>


</ion-header>

<div class="delivery_left_container">
    <ion-col col-12 col-sm-8 style="background:#ffffff !important;">
        <ion-row class="padding_30_3">
            <ion-col col-12 col-sm-6 col-md-3 no-padding>
                <ion-row class="border_right_2">
                    <ion-col col-12 no-padding>
                        <div class="delivery_col_header">
                            Delivery ID
                        </div>
                    </ion-col>
                    <ion-col col-12 no-padding>
                        <div class="delivery_col_1">
                            {{userPostData.deliverynote_no}}-{{userPostData.delivery_date}}
                            <div><small>{{userPostData.deliverynote}}</small></div>
                        </div>

                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col col-12 col-sm-6 col-md-3 no-padding>
                <ion-row class="border_right_2">
                    <ion-col col-12 no-padding>
                        <div class="delivery_col_header">
                            Customer
                        </div>
                    </ion-col>
                    <ion-col col-12 no-padding>
                        <div class="delivery_col_1">
                            {{userPostData.customer_name}}
                            <div><small>{{userPostData.job_no}}</small></div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col col-12 col-sm-6 col-md-3 no-padding>
                <ion-row class="border_right_2">
                    <ion-col col-12 no-padding>
                        <div class="delivery_col_header">
                            Expected
                        </div>
                    </ion-col>
                    <ion-col col-12 no-padding>
                        <ion-row>
                            <ion-col col-12 no-padding>
                                <div class="delivery_col_1 border_right_2">
                                    {{userPostData.total_box}}
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col col-12 col-sm-6 col-md-3 no-padding>
                <ion-row class="border_right_2">
                    <ion-col col-12 no-padding>
                        <div class="delivery_col_header">
                            Actual
                        </div>
                    </ion-col>
                    <ion-col col-12 no-padding>
                        <ion-row>
                            <ion-col col-12 no-padding>
                                <div class="delivery_col_1">
                                    {{scanedCount}}
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-col>


    <div class="delivery_left_container_2">

        <!-- Stock Items Due -->
        <ion-content id="Content" class="margin_bottom_70 main_stock_table" overflow-scroll="true" scroll="true"
            #Content>
            <div class="row">
                <div class="header col" style="margin-left:0;">
                    Stock Items Due
                </div>
            </div>

            <div class="left">

                <div class="col stock_item_due " no-padding style="height:450px;">
                    <ion-list scroll="true" *ngIf="items.length > 0">
                        <ion-item *ngFor="let item of items">
                            <div class="status deliverystockitem {{item.classname}}" id="{{item.deliveryqrcodeId}}"
                                (click)="select_item(item.deliveryqrcodeId,item.product_code,item.totalbox,item.qty_expected,item.deliveryId)">

                                <div class="item" *ngIf="items.length > 0" style="font-size:15px !important;">
                                    {{ item.stock }}
                                </div>
                                <div class="pending_icon"></div>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </ion-content>
        <div id="ScrollDelContent" class="hide scrolloutcontent scroll_1">
            <button (click)="scrollTo()" ion-button full>Scroll Down</button>
        </div>
        <!-- Discrepancies -->
        <ion-content id="ContentDiscrepancies-remove" #ContentDiscrepancies
            style="width:calc(50% - 15px);height: 100% !important;float:right;background:#ffffff;margin-right:15px;">
            <div class="col discrepencies" no-padding>
                <div class="right">
                    <div class="row">
                        <div class="header col" style="margin:0;top:0;">
                            Discrepancies
                            <a (click)="openModal()" href="#" class="add_section"></a>
                        </div>
                    </div>

                    <div class="col stock_item_due">
                        <ion-list>
                            <div col-sm-12 no-padding ion-item *ngFor="let ite of disitems" no-padding>
                                <div class="status deliverystockitem {{ite.classname}}" id="{{ite.deliveryqrcodeId}}" (click)="select_item(ite.deliveryqrcodeId)">
                                    <div class="item">
                                        {{ite.stock}}
                                    </div>
                                    <div class="tick_icon">
                                    </div>
                                </div>
                            </div>
                            
                        </ion-list>
                    </div>


                </div>
            </div>
        </ion-content>

    </div>

</div>



<!-- scan code process -->
<div class="delivery_right_container">
    <ion-col col-12 col-sm-4>

        <ion-row>
            <ion-col col-12 no-padding class="qr_scan_box">
            </ion-col>
        </ion-row>
        <ion-row class="qr_cancel_border">
            <ion-col>
                <button ion-button color="danger" (click)="hidecamera()" style="display:none;margin:15px auto;"
                    id="qr_cancel_btn">Cancel</button>
            </ion-col>
        </ion-row>
        <ion-row style="background:#e5e5e5">
            <ion-col col-12 no-padding>

                <div>
                    <ion-card *ngIf="scannedCode">
                        <ion-card-content>
                            Result from Scan: {{ scannedCode }}
                        </ion-card-content>
                    </ion-card>
                </div>
                <div class="design_view none" id="CodeLinked" style="margin-top:15px;margin-bottom:15px;">
                    <div>
                        <img src="assets/imgs/green_tick.png" class="success_tick">
                    </div>
                    <div class="success_msg">
                        CODE LINKED
                    </div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 no-padding class="dashboard_right_sidebar">
                <div class="qr_btn">
                    <!--<a href="#" (click)="openParitalModal()"> Partial<br />Delivery </a>-->
                    <a href="#" (click)="openParitalModal()"> Partial<br />Delivery </a>
                </div>
            </ion-col>
            <ion-col col-6 no-padding class="dashboard_right_sidebar">
                <div class="qr_btn">
                    <a href="#" (click)="openCompletedModal()"> Completed </a>
                </div>
            </ion-col>
        </ion-row>

    </ion-col>
</div>
<ion-footer>
    <ion-toolbar>
        <ion-row>
            <ion-col col-6 text-left>
                Simia - Set in Hand 2018 &copy; All rights reserved.
            </ion-col>
            <ion-col col-6 text-right>
                System Version 1.9.3
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>