page-delivery {
    .scroll-content {
        height: 500px
    }

    #Content .scroll-content {
        width: 100%;
    }

    #ContentDiscrepancies .scroll-content {
        left: 0%;
        right: 0%;
    }

    .button-inner {
        flex-flow: column;
    }
}

/*Common styles*/
.border_right_2{border-right: 2px solid #fff;}
.margin_top_50{margin-top:50px}
.padding_30{padding:30px;}
.none{display:none;}
.margin_0{margin:0 !important;}

.dashboard_right_main{padding-bottom:70px;background:#e8e8e8}
.delivery_col_header{background:#cacdde;text-align:center;font-size:18px;color:#656567; padding-top: 15px; min-height:50px;    border-bottom: 2px solid #ffffff;}
.delivery_col_1, .delivery_col_2_green, .delivery_col_2_ping{padding-top: 15px; text-align:center;font-size:17px;color:#766d6d;min-height:70px;}

.delivery_col_1{background:#e2e4ef;}
.delivery_col_2_green{background:#d1e1cc;}
.delivery_col_2_ping{background:#f1c9c9;}


/*sub Sections*/
.delivery_left_content
{float:left;width:75%;height:100%;}

.delivery_right_content {
    float: left;
    width: 25%;
    height: 100%
}
.delivery_main_col_1 {
    position: relative;
    top: 70px;
    display: block;
    margin: 3% 2% -20px 2%;
    .scroll-content{overflow-y:hidden !important;z-index:-99;}
}

.delivery_main_col_2 {
    position: relative;
    top: 260px;
    display: block;
    margin-left: 2%;
    width: 47.8%;
    float: left;

    .header {
        width: 100%;
        float: left;
        background: #dedede;
        padding: 15px;
        text-align: left;
        font-size: 20px;
        color: #766d6d;
        min-height: 50px;
        border-bottom: 2px solid #fff;
    }

    .item .item-inner {
        margin-bottom: 0;

        .input-wrapper ion-label {
            margin: 0;
        }
    }

    }

    .delivery_main_col_3 {
        position: relative;
        top: 260px;
        display: block;
        margin-right: 2%;
        width: 47.6%;

        float: left;
         .header {
            width: 100%;
            float: left;
            background: #dedede;
            padding: 15px;
            text-align: left;
            font-size: 20px;
            color: #766d6d;
            min-height: 50px;

            border-bottom: 2px solid #fff;
             .add_section {
                background: url('../assets/imgs/plus_icon.png') no-repeat;
                float: right;
                width: 24px;
                height: 24px;
                display: inline-block;
                background-size: 100%;
            }
        }

        .item .item-inner {
            margin-bottom: 0;

            .input-wrapper ion-label {
                margin: 0;
            }
        }
     }
.stock_item_due {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;

    .header {
        background: #dedede;
        padding: 15px;
        text-align: left;
        font-size: 20px;
        color: #766d6d;
        min-height: 50px;
        border-bottom: 2px solid #fff
    }

    .status {
        padding: 15px;
        min-height: 50px;
        border-bottom: 2px solid #fff;
        background: #6C6C6C;

        .item {
            color: #fff;
            font-size: 17px;
            display: inline-block;
            padding-right: 7px;
            width: calc( 100% - 30px );
            white-space: normal
        }
    }


    .status.pending {
        background: #ffaf52;
        color: #fff;
        font-size: 17px;

        .pending_icon {
            background: url('../assets/imgs/pending.png') no-repeat;
            float: right;
            width: 24px;
            height: 24px;
            display: inline-block;
            background-size: 100%;
        }
    }

    .status.selected {
        background: #5dc1ea;
    }

    .status.codescanned {
        background: #7E57C2;
    }

    .status.codescanned {
        background: #f07da8;
        color: #fff;
        font-size: 17px;

        .pending_icon {
            background: url('../assets/imgs/purple_tick.png') no-repeat;
            float: right;
            width: 24px;
            height: 24px;
            display: inline-block;
            background-size: 100%
        }
    }

    .status.completed {
        background: #47c65e !important;
        color: #fff !important;
        font-size: 17px;

        .pending_icon {
            background: url('../assets/imgs/white_tick.png') no-repeat !important;
            float: right !important;
            width: 24px !important;
            height: 24px !important;
            display: inline-block !important;
            background-size: 100% !important;
        }
    }


       
    
         .header {
            background: #dedede;
            padding: 15px;
            text-align: left;
            font-size: 20px;
            color: #766d6d;
            min-height: 50px;
            border-bottom: 2px solid #fff;
        }

        .status {
            padding: 15px;
            min-height: 50px;
            white-space: normal;
        }

        .status.red {
            background: #ff3636;
            color: #fff;
            font-size: 17px;
        }

        .status.report {
            background: #ffffff;
            color: #929292;
            font-size: 17px;
        }
    }


    .dashboard_right_sidebar {
        background: #e8e8e8;
        height: 100%;
    }



    .qr_scan_section {
        padding: 30px;

        .header {
            font-size: 22px;
            color: #6c6c6c;
        }

        .qr_image {
            width: 100%;
            height: 100%;
            min-width: 70px;
            min-height: 70px;
            max-width: 100%;
            max-height: 100%;
            margin: 0 auto;
            margin-top: 15px;
            display: block;
            cursor: pointer;
        }
    }

    .qr_scan_box {
        height: 250px !important;
        width: 200px;
        max-width: 100%;
        background: transparent !important;
        border-top: 20px solid #e5e5e5 !important;
        border-left: 20px solid #e5e5e5 !important;
        border-right: 20px solid #e5e5e5 !important;
    }

    .qr_cancel_border {
        border-bottom: 20px solid #e5e5e5 !important;
        border-left: 20px solid #e5e5e5 !important;
        border-right: 20px solid #e5e5e5 !important;
    }

    .design_view {
        .success_tick {
            margin: 0 auto;
            display: block;
        }

        .success_msg {
            font-size: 32px;
            text-align: center;
            color: #2f9610;
            margin-top: 10px;
        }
    }

    .dashboard_right_sidebar {
        .qr_btn {
            margin-top: 20px;
            background: #95989a;
            color: #fcfcfc;
            min-height: 150px;
            padding-top: 55px;
            text-align: center;
            font-size: 24px;
            border: 1px solid #fff;
            cursor: pointer;

            a {
                color: #fcfcfc;
            }
        }
    }

    .stock_item_due_inner {
        position: relative;

        .item-block {
            cursor: pointer;

            .item-inner {
                margin-bottom: 0px;
                border: none;

                .label {
                    margin: 0px;
                }
            }
        }
    }


    .inner_scroll {
        max-height: 300px;
        overflow-y: scroll;
        border: 1px solid #d8d8d8;
    }

    .bg_white {
        background: #ffffff !important;
    }

    .custom-spinner-box + p {
        color: #fff !important;
    }


    .inner_scroll::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }

    .inner_scroll::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.5);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
   


